.btn-register > a:hover,
.btn-register > a {
    color: #fff;
    text-decoration: none;
}

.gds-login-div .page-header{
    background-color: #EEF3F7;
}
.gds-login-div h1{
    text-align: center;
}
.gds-login-div{
    width: 1100px!important;
    height: 545px!important;
    background-color: #EEF3F7;
}
.gds-login-form{
    float:right;
    width: 450px;
}